<template>
  <div class="customCard">
    <p>{{text}}</p>
    <span>{{subtitle}}</span>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: ['text', 'subtitle']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .customCard{
    height: 150px;
    width: 150px;
    background: blue;
    border: solid green;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .customCard p {
    font-size: 20px;
    text-align: center;
  }
  .customCard span {
    font-size: 10px;
    text-align: center;
  }
</style>
