<template>
  <div>
      <h1>Seconda Pagina</h1>
  </div>
</template>

<script>
export default {
  name: 'Page'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
