<template>
  <div>
      <h1>Pagina Utente</h1>
      <div v-if="id">
          id: {{id}}
      </div>
  </div>
</template>

<script>
export default {
    name: 'User',
    data(){
        return{
            id: this.$route.params.id
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
